{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
        <section class="clean-block features" style="border-top-style: solid;padding: 0;background: rgb(207,231,248);">
            <div class="container flex-calc" style="background: #eeeeee;padding-bottom: 100px;">
                <div class="block-heading">
                    <h2 class="text-info" style="font-weight: 800;">Características gerais</h2>
                </div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'core:home' %}"><span>Home</span></a></li>
                    <li class="breadcrumb-item"><a href="{% url 'simulacao:edificacao' %}"><span>Características</span></a></li>
                </ol>
                <form id="edificacaoForm" method="post">
                    {% csrf_token %}
                    <div class="form-row" style="margin: 0px 16px;">
                        <h3 style="font-weight: bold;font-style: normal;">Tipo de edificação</h3>
                        <div class="form-group col-md-12">
                            <div class="form-check form-check-inline" id="casa-radio">
                                <input onclick="document.getElementById('id_n_apts').disabled = true;
                                document.getElementById('aptMoradores').innerHTML = 'Número de moradores';
                                window.dispatchEvent(new Event('resize'));"
                                class="form-check-input" type="radio" id="formCheck-1" value="0" name="tipo_residencia" checked="">
                                <label class="form-check-label" for="formCheck-1">Casa</label>
                            </div>
                            <div class="form-check form-check-inline" id="apartamento-radio">
                                <input onclick="document.getElementById('id_n_apts').disabled = false;
                                document.getElementById('aptMoradores').innerHTML = 'Número médio de moradores por apartamento';
                                window.dispatchEvent(new Event('resize'));"
                                class="form-check-input" type="radio" id="formCheck-2" value="1" name="tipo_residencia">
                                <label class="form-check-label" for="formCheck-2">Prédio residencial</label>
                            </div>
                        </div>
                        <div class="border rounded-0 form-row" id="residence-options" style="margin: 0px 0px;">
                            <div class="form-group col-md-4" id="div_n_pavimentos">
                                <label class="text-left" id="lab_n_pavimentos" style="font-weight: bold;">{{ nova_edificacao.n_pavimentos.label }}</label>
                                <div class="input-group">
                                    {% render_field nova_edificacao.n_pavimentos class="form-control col-md-10" data-toggle="tooltip" data-bss-tooltip="" data-placement="bottom" max="17" min="1" title="Altura total da residencia em número de pavimentos" %}
                                </div>
                            </div>
                            <div class="form-group col-md-4" id="totalApartamentos" style="padding: 0px 5px;">
                                <label class="text-left" id="lab_totalApartamentos" style="font-weight: bold;">{{ nova_edificacao.n_apts.label }}</label>
                                {%  render_field nova_edificacao.n_apts class="form-control col-md-10" disabled="" min="1" %}
                            </div>
                            
                            <div class="form-group col-md-4" id="div_n_moradores" style="padding: 0px 5px;">
                                <label class="text-left" id="aptMoradores" style="font-weight: bold;">Número de moradores</label>
                                {%  render_field nova_edificacao.n_pessoas class="form-control col-md-10" min="1" value='1'  %}
                            </div>
                            <div class="form-group col-md-7" style="padding: 0px 5px; margin-right: -18%;"><label style="font-weight: bold;">Área de Cobertura&nbsp;</label>
                                <div class="input-group">
                                    {% render_field nova_edificacao.area_cobertura class="form-control col-md-6" data-toggle="tooltip" data-bss-tooltip="" data-placement="bottom" min="0.1" title="Área de cobertura" step=".01" value="1" %}
                                    <div class="input-group-append"><span class="input-group-text">m²</span></div>
                                </div><small class="form-text text-muted">Área de cobertura da residência para coleta.</small>
                            </div>
                            
                            <div class="form-group col-md-6" style="padding: 0px 5px;"><label style="font-weight: bold;">Área de pisos</label>
                                <div class="input-group">
                                    {% render_field nova_edificacao.area_pisos class="form-control col-md-7" data-toggle="tooltip" data-bss-tooltip="" data-placement="bottom" min="0.01" title="Área de pisos" step=".01" value="1" %}
                                    <div class="input-group-append"><span class="input-group-text">m²<br></span></div>
                                </div><small class="form-text text-muted">Área de pisos para lavagem da residência em m².</small>
                            </div>
                            <div id="div_irrigacao" class="form-group col-md-2"><label id="lab_irrigacao" style="font-weight: bold;">Área para irrigação</label>
                                <div class="input-group">
                                    {% render_field nova_edificacao.area_irrigacao class="form-control col-md-8" data-toggle="tooltip" data-bss-tooltip="" data-placement="bottom" min="0.01" title="Área para irrigação" step=".01" value="1" %}
                                    <div class="input-group-append"><span class="input-group-text">m²<br></span></div>
                                </div><small class="form-text text-muted">Área para irrigação do jardim da residência em m².</small>
                            </div>
                            <div id="div_uf" class="form-group col-md-2"><label id="lab_uf" style="font-weight: bold;">Estado (UF)</label>
                                <div class="input-group">
                                    {% render_field nova_edificacao.estado class="form-control col-md-12" data-toggle="tooltip" data-bss-tooltip="" data-placement="bottom" title="Estado" %}
                                </div>
                            </div>
                            <div id="div_cidade" class="form-group col-md-2"><label id="lab_cidade" style="font-weight: bold;">Cidade</label>
                                <div class="input-group">
                                    <select name="cidade" title="" data-placement="bottom" data-bss-tooltip="" data-toggle="tooltip" class="form-control col-md-12" id="id_cidade" data-original-title="">
                                        <option hidden disabled selected value> -- Selecione -- </option>
                                        <option value="BRASILIA">BRASILIA</option>
                                    </select>
                                </div>
                            </div>
                                <div class="col-md-6" id="div_estiagem">
                                    <label id="lab_estiagem" style="font-weight: bold;">Meses de estiagem</label>
                                </div>
                            </div>
                        </div>
                    <h3 style="font-weight: bold;margin: 0px 16px;">Demanda de água não potável</h3>
                    <div id="consumoAgua" style="margin: 0px 16px;">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <!-- TODO Ajustar os tamanhos dos headers para garantir que todas as colunas sejam bem vistas -->
                                    <tr>
                                        <th data-toggle="tooltip" data-bss-tooltip="" style="width: 1%; min-width: 215px" title="nome da destinação da demanda de água não potável.">Tipo de uso</th>
                                        <th data-toggle="tooltip" data-bss-tooltip="" style="width: 5%; min-width: 50px" title="Quantidade de litros utilizados por minuto, ciclo ou descarga. Preenchido com valores pré definidos de acordo com consumo médio mensal de água no Distrito Federal.">Vazão estimada</th>
                                        <th data-toggle="tooltip" data-bss-tooltip="" style="width: 5%; min-width: 100px" title="Quantidade de usos ao mês.">Frequência mensal de uso</th>
                                        <th data-toggle="tooltip" data-bss-tooltip="" style="width: 5%; min-width: 50px" title="Quantidade de litros usados em um dia. Preenchido com valores pré definidos de acordo com consumo médio mensal de água no Distrito Federal.">Indicador de uso final</th>
                                        <th data-toggle="tooltip" data-bss-tooltip="" style="width: 5%; min-width: 50px" title="Consumo em m³/mês.">Consumo estimado</th>
                                        <th style="width: 1%; min-width: 40px">Deletar</th>
                                    </tr>
                                </thead>
                                <tbody id="table_body">
                                </tbody>
                                
                            </table>
                            <input type="hidden" name="usos-INITIAL_FORMS" id="id_usos-INITIAL_FORMS" value="0">
                            <input type="hidden" name="usos-TOTAL_FORMS" id="id_usos-TOTAL_FORMS" value="3">
                            <input type="hidden" name="usos-MIN_NUM_FORMS" id="id_usos-MIN_NUM_FORMS" value="1">
                            <input type="hidden" name="usos-MAX_NUM_FORMS" id="id_usos-MAX_NUM_FORMS" value="100">
                        </div>
                        
                    </div>
                    <div class="form-row" style="margin: 1em;">
                        <button class="btn btn-secondary btn-sm" id="addCustomConsumo" type="button" onclick="addFields({k: k, interesse: 'usos'}); k++">Adicionar</button>
                        <span class="d-md-flex align-items-md-center">&nbsp;Outro tipo de uso de água não potável.</span>
                    </div>
                    <div class="border rounded-0 form-row" style="margin: 0px 0px;">
                        <div class="form-group col-md-6" style="padding: 0px 5px;"><label style="font-weight: bold;">Tarifa de esgoto</label>
                            <div class="input-group">
                                {% render_field nova_edificacao.tarifa_esgoto class="form-control col-md-12" type="number" value="100" step="0.1" min="0" max="100" %}
                                <div class="input-group-append"><span class="input-group-text">%</span></div>
                            </div><small class="form-text text-muted">Porcentagem da tarifa de esgoto cobrada</small>
                        </div>
                        <div class="form-group col-md-6" style="padding: 0px 5px;"><label style="font-weight: bold;">Consumo mensal de água</label>
                            <div class="input-group">
                                {% render_field nova_edificacao.consumo_mensal class="form-control col-md-12" value="5" min="0" step="0.1" %}
                                <div class="input-group-append"><span class="input-group-text">m³<br></span></div>
                            </div><small class="form-text text-muted">Consumo mensal médio de água em m³.</small>
                        </div>
                    </div>
                    <canvas id="usos_percent"></canvas>
                    <div class="text-right col-md-12">
                        <button class="btn btn-danger" type="button" data-dismiss="edificacaoForm" id="restaurar">Restaurar</button>
                        <button id="submit" class="btn btn-primary" type="submit" style="margin: 1em;">Próximo</button></div>
                    </div>
                </form>
            </div>
        </section>
{% endblock content%}
{% block scripts %}
    <script src={% static 'assets/js/simulacao.js' %}>
    </script>
    <script type="text/javascript">
        $(window).resize(function () {
            const heig1 = $("#lab_n_pavimentos").height();
            const heig2 = $("#lab_totalApartamentos").height();
            const heig3 = $("#aptMoradores").height();
            const lrg = Math.max(heig1, heig2, heig3);

            $("#div_n_pavimentos").css('margin-top', lrg-heig1);
            $("#totalApartamentos").css('margin-top', lrg-heig2);
            $("#div_n_moradores").css('margin-top', lrg-heig3);


            const hCidade = $("#lab_cidade").height()
            const hUF = $("#lab_uf").height()
            const hIrrigacao = $("#lab_irrigacao").height()
            const tallest = Math.max(hCidade, hUF, hIrrigacao)

            $("#div_cidade").css('margin-top', tallest - hCidade)
            $("#div_uf").css('margin-top', tallest - hUF)
            $("#div_irrigacao").css('margin-top', tallest - hIrrigacao)
        });

        window.dispatchEvent(new Event('resize'));

        $("#id_estado").change(function () {
            $.ajax({
                url: '',
                type: 'get',
                data: {
                    related: "uf", 
                    uf: this.value
                },
                success: function (response) {
                    const cidade_select = $("#id_cidade")
                    cidade_select.empty()
                    cidade_select.append("<option hidden disabled selected value> -- Selecione -- </option>")
                    for (let cidade of response.cidades) {
                        cidade_select.append(`<option value="${cidade}">${cidade}</option>`)
                    }
                }
            })
        });
        $("#id_cidade").change(function() {
            $.ajax({
                url: '',
                type: 'get',
                data: {
                    related: "pluviometria", 
                    uf: $("#id_estado").val(),
                    cidade: this.value
                },
                success: function(response) {
                    const estiagem = response.estiagem
                    for (let mes=0; mes < estiagem.length; mes++){
                        $(`#estiagem-${mes}`).attr("checked", estiagem[mes])
                    }
                }
            })
        })
    </script>
    <script src={% static 'assets/js/formulario.js' %}>
    </script>
    <script>
        const chunk_meses = {{ chunk_meses|safe }}
        gera_estiagem("div_estiagem", chunk_meses)
        const demanda = ["Irrigação de jardins", "Lavagem de pisos", "Descarga sanitária", "Lavagem de roupas", "Tanque"];
        const vazoes = ["20", "20", "9", "135", "6"];
        const Ddiario = ["1", "1", "32", "31", "19"];
        const freq =  ["30", "4", "30", "8", "30"];
        const escalas = ["Litros/m²/dia", "Litros/m²/dia", "Litros/pessoa/dia", "Litros/pessoa/dia", "Litros/pessoa/dia"];
        const freq_diaria = ["0.1","0.1","6","0.7","3.2"];

        let k = 0
        k = InitFields(k, demanda, vazoes, freq, Ddiario, escalas, freq_diaria, id="table_body", interesse="usos");
        let btn = document.getElementById("edificacaoForm")
        btn.addEventListener("submit", function (){readdres(id="table_body", interesse="usos")}, false)

        const reset = document.getElementById("restaurar")
        reset.addEventListener("click", function (){reset_fields(demanda, freq, Ddiario, escalas)}, false)

        
    </script>
    <script>
        const ds = percent_ds()
        
        const data = {
            labels: [...ds.lab],
            datasets: [{
              label: 'Porcentagem do consumo por uso',
              data: [...ds.data],
              backgroundColor: 
                'rgb(54, 162, 235)',
              hoverOffset: 4
            }]
          };
        
        const config = {
            type: 'pie',
            data: data
        }
        
        const canvas = document.getElementById('usos_percent')
        const ctx = canvas.getContext('2d')
        const pizza = new Chart(ctx, config)        
    </script>
{% endblock %}