{% extends 'base.html' %} {% block content %}
<section
    class="clean-block features"
    style="border-top-style: solid; padding: 0; background: rgb(207, 231, 248)"
>
    <div
        class="container flex-calc"
        style="background: #eeeeee; padding-top: 16px"
    >
        <div class="block-heading">
            <h2 class="text-info" style="font-weight: 800">
                {{titulo}}
            </h2>
        </div>
        <form id="demandasForm" method="post">
            {% csrf_token %} {% for uso in usos %}
            <div class="d-flex justify-content-center">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input name="{{uso}}" type="checkbox" checked="true" />
                    </div>
                </div>
                <span
                    type="text"
                    class=""
                    style="
                        font-weight: bold;
                        background: #e9ecef;
                        border: 1px solid #ced4da;
                        border-radius: 0.25rem;
                        color: #495057;
                        height: calc(1.5em + 0.75rem + 2px);
                        width: calc(12.0em + 1.0rem);
                        justify-content: center;
                        display: inline-flex;
                        align-items: center;
                    "
                >{{uso}}
            </span>

            </div>
            {% endfor %}
        </form>
        <div class="text-right col-md-12">
            <button id="submit" class="btn btn-primary" type="submit" style="margin: 1em;" form="demandasForm">Próximo</button></div>
        </div>
    </div>
</section>
{% endblock content %}
