{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="clean-block features" style="border-top-style: solid;padding: 0;background: rgb(207,231,248);">
        <div class="container flex-calc" style="background: #eeeeee;padding-top:16px">
            <form id="RACform" method="POST">
                {% csrf_token %}
                <h3 style="position: relative; font-weight: bold;margin: 16px 16px;">Oferta de água cinza</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th data-toggle="tooltip" data-bss-tooltip="" style="width: 25%;" title="Nome da fonte da oferta de água cinza.">Tipo de uso</th>
                        <th data-toggle="tooltip" data-bss-tooltip="" style="width: 35%;" title="Quantidade de usos ao mês.">Frequência mensal de uso</th>
                        <th data-toggle="tooltip" data-bss-tooltip="" style="width: 35%;" title="Quantidade de litros ofertados em um dia. Preenchido com valores pré definidos de acordo com oferta média mensal de água no Distrito Federal.">Indicador de uso final</th>
                        <th style="width: 5%;">Deletar</th>
                    </tr>
                    </thead>
                    <tbody id="table_body">

                    </tbody>
                </table>
                <input type="hidden" name="ofertas-INITIAL_FORMS" id="id_ofertas-INITIAL_FORMS" value="0">
                <input type="hidden" name="ofertas-TOTAL_FORMS" id="id_ofertas-TOTAL_FORMS" value="3">
                <input type="hidden" name="ofertas-MIN_NUM_FORMS" id="id_ofertas-MIN_NUM_FORMS" value="1">
                <input type="hidden" name="ofertas-MAX_NUM_FORMS" id="id_ofertas-MAX_NUM_FORMS" value="100">

                <div class="form-row" style="margin: 1em;">
                    <button class="btn btn-secondary btn-sm" id="addCustomConsumo" type="button" onclick="addFields(k); k++;">Adicionar</button>
                    <span class="d-md-flex align-items-md-center">&nbsp;Outro tipo de oferta de água cinza.</span>
                </div>
                <div class="text-right col-md-12">
                    <button class="btn btn-danger" type="button" data-dismiss="RACform" id="restaurar">Restaurar</button>
                    <button id="submit" class="btn btn-primary" type="submit" style="margin: 1em;">Próximo</button>
                </div>
            </form>
        </div>
    </section>
    <script src={% static 'assets/js/formulario.js' %}>
    </script>
    <script>
        const oferta = ["Chuveiro", "Lavatório", "Máquina de Lavar Roupa", "Tanque"];
        const Qdiario = ["167", "85", "158", "106"];
        const freq = ["30", "30", "12", "20"];
        const escalas = Array(4).fill("Litros/pessoa/dia");

        let k = 0
        k = InitFields(k, oferta, freq, Qdiario, escalas, id="table_body", interesse="ofertas");
        let btn = document.getElementById("RACform")
        btn.addEventListener("submit", function (){readdres(id="table_body", interesse="ofertas")}, false)

        const reset = document.getElementById("restaurar")
        reset.addEventListener("click", function (){k = reset_fields(oferta, freq, Qdiario, escalas)}, false)
    </script>
{% endblock %}