{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="clean-block features" style="border-top-style: solid;padding: 0;background: rgb(207,231,248);">
        <div class="container" style="background: #eeeeee;padding-bottom: 200px;">
            <form id="RACform" method="POST">
                {% csrf_token %}
                <h3 style="position: relative; font-weight: bold;margin: 16px 16px;">Oferta de água cinza</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th data-toggle="tooltip" data-bss-tooltip="" style="width: 25%;" title="Nome da fonte da oferta de água cinza.">Tipo de uso</th>
                        <th data-toggle="tooltip" data-bss-tooltip="" style="width: 35%;" title="Quantidade de usos ao mês.">Frequência mensal de uso</th>
                        <th data-toggle="tooltip" data-bss-tooltip="" style="width: 35%;" title="Quantidade de litros ofertados em um dia. Preenchido com valores pré definidos de acordo com oferta média mensal de água no Distrito Federal.">Indicador de uso final</th>
                        <th style="width: 5%;">Deletar</th>
                    </tr>
                    </thead>
                    <tbody id="table_body">

                    </tbody>
                </table>
                <input type="hidden" name="ofertas-INITIAL_FORMS" id="id_ofertas-INITIAL_FORMS" value="0">
                <input type="hidden" name="ofertas-TOTAL_FORMS" id="id_ofertas-TOTAL_FORMS" value="3">
                <input type="hidden" name="ofertas-MIN_NUM_FORMS" id="id_ofertas-MIN_NUM_FORMS" value="1">
                <input type="hidden" name="ofertas-MAX_NUM_FORMS" id="id_ofertas-MAX_NUM_FORMS" value="100">

                <div class="form-row" style="margin: 1em;">
                    <button class="btn btn-secondary btn-sm" id="addCustomConsumo" type="button" onclick="addFields(k); k++">Adicionar</button>
                    <span class="d-md-flex align-items-md-center">&nbsp;Outro tipo de oferta de água cinza.</span>
                </div>
                <div class="text-right col-md-12">
                    <button class="btn btn-light" type="button" data-dismiss="RACform">Retornar</button>
                    <button id="submit" class="btn btn-primary" type="submit" style="margin: 1em;">Próximo</button>
                </div>
            </form>
        </div>
    </section>
    <script>
        function addFields(k, dados=[], id="table_body", initial=Boolean(false)) {
            let container = document.getElementById(id);
            let row = container.appendChild(document.createElement("tr"));
            row.setAttribute('id', 'oferta' + k)

            let td1 = row.appendChild(document.createElement("td"));
            let tipo_de_uso = td1.appendChild(document.createElement("input"));

            function numericField(row, k, id, padrao='1', escala='Litros/dia'){
                let td = row.appendChild(document.createElement("td"));
                let div_in = td.appendChild(document.createElement("div"));
                let valor = div_in.appendChild(document.createElement("input"));
                let div_append = div_in.appendChild(document.createElement("div"));
                let span = div_append.appendChild(document.createElement("span"));

                div_in.setAttribute('class', 'input-group');
                div_append.setAttribute('class', 'input-group-append');
                span.innerHTML = escala;
                span.setAttribute('class', 'input-group-text');

                valor.setAttribute('type', 'numeric');
                valor.setAttribute('value', padrao);
                valor.setAttribute('class', 'form-control');
                valor.setAttribute('min', 1)
                valor.setAttribute('name', 'ofertas-' + k + "-" + id)
                valor.setAttribute('id', 'id_ofertas-' + k + "-" + id)
                valor.setAttribute('required', '')
            }



            tipo_de_uso.setAttribute('type', 'text');
            tipo_de_uso.setAttribute('class', 'form-control');
            tipo_de_uso.setAttribute('maxlength', '100')
            tipo_de_uso.setAttribute('id', 'id_ofertas' + k + '-nome')
            tipo_de_uso.setAttribute('name', 'ofertas-' + k + '-nome')
            tipo_de_uso.setAttribute('required', '')

            if (initial){
                tipo_de_uso.setAttribute('readonly', '');
                tipo_de_uso.setAttribute('style', 'position: relative;font-weight: bold;');
                tipo_de_uso.setAttribute('value', dados[0])
                numericField(row, k, 'frequencia_mensal', dados[1], dados[3][0])
                numericField(row, k, 'indicador', dados[2], dados[3][1])

            } else {
                tipo_de_uso.setAttribute('placeholder', 'Nome do uso aqui');
                numericField(row, k, 'frequencia_mensal', '1', 'Vezes ao mês');
                numericField(row, k, 'indicador', '1', 'Litros/dia');
            }


            function delField(row_id) {
                let row_to_del = document.getElementById(row_id);
                row_to_del.parentNode.removeChild(row_to_del)
            }

            let td4 = row.appendChild(document.createElement("td"))
            let del_btn = td4.appendChild(document.createElement("button"))
            del_btn.setAttribute('class', 'btn btn-light')
            del_btn.setAttribute('type', 'button')
            del_btn.addEventListener('click', function(){delField('oferta'+k)}, false)
            del_btn.innerHTML = 'Deletar'
        }

        function InitFields(k, tipo, padrao_freq, padrao_ind, escala, id="table_body"){
            for (let i=0; i < tipo.length; i++){
                let padroes = [tipo[i], padrao_freq[i], padrao_ind[i], escala]
                addFields(k, padroes, id, Boolean(true));
                k++
            }
            return k
        }

        function readdres (id='table_body') {
            let tab_user = document.getElementById(id)
            let rows = tab_user.getElementsByTagName('tr')
            let k_true = rows.length
            let total_forms = document.getElementById('id_ofertas-TOTAL_FORMS')
            total_forms.setAttribute('value', k_true)

            const attr = ['-nome', '-frequencia_mensal', '-indicador']
            let inputs = tab_user.getElementsByTagName('input')
            let k_array = []
            for (let i = 0; i < k_true; i++){
                k_array.push(i)
                k_array.push(i)
                k_array.push(i)
            }
            for (let i=0; i < inputs.length; i++){
                inputs[i].setAttribute('name', 'ofertas-' + k_array[i] + attr[i % 3])
                inputs[i].setAttribute('id', 'id_ofertas-' + k_array[i] + attr[i % 3])
            }

        }



        const oferta = ["Chuveiro", "Lavatório", "Máquina de Lavar Roupa", "Tanque"];
        const Qdiario = ["167", "85", "158", "106"];
        const freq = ["30", "30", "12", "20"];
        const escalas = ["Vezes ao mês", "Litros/dia"];

        let k = 0
        k = InitFields(k, oferta, freq, Qdiario, escalas);

        let btn = document.getElementById("RACform")
        btn.addEventListener("submit", function (){readdres()}, false)

    </script>
{% endblock %}