{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.1.0/chartjs-plugin-annotation.min.js" integrity="sha512-uxcl+YXF0LbFyZFEb6HHmxl1NEI4X/5rjojm/13M1CBXBDj8wkmM99cKADkmtuky28pC/EpNTDHOEb/c3nDZsA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <section class="clean-block features" style="border-top-style: solid;padding: 0;background: rgb(207,231,248);">
            <div class="container flex-calc" style="background: #eeeeee;padding-bottom: 100px;">
                <div class="block-heading" style="padding: 40px 0px 0px;">
                    <h2 class="text-info" style="font-weight: 800;">Aproveitamento de águas pluviais</h2>
                </div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'core:home' %}"><span>Home</span></a></li>
                    <li class="breadcrumb-item"><a href="{% url 'simulacao:edificacao' %}"><span>Características gerais</span></a></li>
                    <li class="breadcrumb-item"><a href="{% url 'simulacao:seleciona_simulacao' pk %}"><span>Selecionar simulação</span></a></li>
                    <li class="breadcrumb-item"><a href="#"><span>Simulação AAP</span></a></li>
                </ol>
                <div class="row align-content-center" style="border: 1px none rgb(33,37,41);background: #eeeeee;margin-left: 0;margin-right: 0;">
                    <div class="col-md-5">
                        <div style="margin-bottom: 1em;padding-bottom: .5em;">
                            <h4 style="font-weight: bold;">Visualização do gráfico</h4>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text">Intervalo</span></div>
                                    <input type="number" name="intervalos_de_cisterna" id="id_intervalos_de_cisterna" value="10" min="1" class="form-control" required>
                                <div class="input-group-append"><button id="change_interval" class="btn btn-primary" type="button">Alterar</button></div>
                            </div><small class="form-text text-muted">Intervalos em m³ da cisterna a ser mostrado na aba financeiro e no gráfico.</small>
                        </div>

                        <h4 style="font-weight: bold;">Análise financeira</h4>
                        <div class="input-group d-md-flex" style="margin-bottom: 0.8em;">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="font-weight: bold;">Taxa de juros</span>
                            </div>
                                <input type="number" name="taxa_de_juros" id="id_taxa_de_juros" value="3" min="0" style="width: 167px" required>
                            <div class="input-group-append">
                                <span class="text-break input-group-text" style="font-weight: bold;">
                                    %
                                </span>
                            <button type="button" class="btn btn-primary" id="juros-btn">Calcular</button>
                            </div><small class="form-text text-muted">Adicione uma taxa de júros para ser calculada juntamente a simulação financeira</small>
                        </div>
                        <h4 style="font-weight: bold;">Demanda de água pluvial</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th data-checkbox="true"></th>
                                    <th>Nome</th>
                                    <th>Consumo</th>
                                </tr>
                                </thead>
                                <tbody id="demanda-items">
                                {% for i in individual_d.items %}
                                    <tr>
                                        <td><input type="checkbox" checked style="margin: 0px;transform: scale(0.8)" class="form-check-input"></td>
                                        <td><input type='text' value="{{i.0}}" class="form-control" readonly="" style="font-weight: bold;" ></td>
                                        <td>
                                            <div class="input-group">
                                            
                                                <input type='text' value="{{i.1}}" class="form-control" readonly="">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">m³/mês</span>
                                                </div>
                                            
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-7" style="border-top: 1px solid #dee2e6 ;border-left: 1px solid rgb(222,226,230) ;">
                        <h4 style="font-weight: 700;">Resultados</h4>
                        <div>
                            <div id="ChartDiv"><canvas id="SimulChart"></canvas></div>
                            <p>MEP* - Máxima Economia Possível</p>
                        </div>
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Geral</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">Dimensionamento</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-3">Financeiro</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" role="tabpanel" id="tab-1" style="background: #ffffff;">
                                    <ul class="list-group text-capitalize" style="background: var(--secondary);">
                                        <li class="list-group-item" style="color: var(dark);background: #e1e1e1;border-style: solid;"><span style="color: var(--dark);background: #e1e1e1;font-weight: 600;">Oferta: </span><span class="text-lowercase" id="oferta__total"> m³/ano</span></li>
                                        <li class="list-group-item" style="background: #e1e1e1;"><span style="color: var(--dark);background: #e1e1e1;font-weight: 600;">Demanda: </span><span class="text-lowercase" id="demanda__total"> m³/ano</span><br></li>
                                        <li class="list-group-item" style="background: #e1e1e1;"><span style="color: var(--dark);background: #e1e1e1;font-weight: 600;" class="normal">Área de Coleta: </span> <span class="text-lowercase" id="area__coleta">m²</span><br></li>
                                        <li class="list-group-item" style="background: #e1e1e1;"><span style="color: var(--dark);font-weight: 600;background: #e1e1e1;border-color: var(--dark);" class="normal">Custo Operacional: </span><span class="normal" id="custo__operacional">R$ / ano</span></li>
                                    </ul>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="tab-2">
                                    <ul class="list-group text-capitalize" style="background: #e1e1e1;">
                                        <li class="list-group-item" style="background: #e1e1e1;color: var(--dark);"><span style="background: #e1e1e1;color: var(--dark);font-weight: 600;">Freio d'água: </span><span class="text-lowercase" id="freio__dagua">mm</span></li>
                                        <li class="list-group-item" style="background: #e1e1e1;color: var(--dark);;"><span style="background: #e1e1e1;color: var(--dark);font-weight: 600;">Sifão ladrão: </span><span class="text-lowercase" id="sifao__ladrao">mm</span></li>
                                        <li class="list-group-item" style="background: #e1e1e1;color: var(--dark);"><span style="background: #e1e1e1;color: var(--dark);font-weight: 600;" class="normal">Capacidade do Filtro: </span><span class="text-lowercase" id="filtro__dagua">m² de cobertura</span></li>
                                        <li class="list-group-item" style="background: #e1e1e1;color: var(--dark);"><span style="background: #e1e1e1;color: var(--dark);font-weight: 600;">Bomba d'água Sucção: </span><span class="text-lowercase">{{ bomba.dimensoes.succao }} mm</span></li>
                                        <li class="list-group-item" style="background: #e1e1e1;color: var(--dark);"><span style="background: #e1e1e1;color: var(--dark);font-weight: 600;">Bomba d'água Recalque: </span><span class="text-lowercase">{{ bomba.dimensoes.recalque }} mm</span></li>
                                        <li class="list-group-item" style="background: #e1e1e1;color: var(--dark);"><span style="background: #e1e1e1;color: var(--dark);font-weight: 600;">Bomba d'água potência: </span><span class="text-lowercase">{{ bomba.dimensoes.potencia }} cv</span></li>
                                        <li class="list-group-item" style="background: #e1e1e1;color: var(--dark);"><span style="background: #e1e1e1;color: var(--dark);font-weight: 600;" class="normal">Reservatório de Distribuição: </span><span id="reservatorio__volume"> L</span></li>
                                    </ul>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="tab-3" style="background: #e1e1e1;">
                                    <div class="table-responsive" style="border-left-color: var(--secondary);">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Cisterna (m³)</th>
                                                    <th data-bss-tooltip data-toggle="tooltip" data-original-title="Valor da economia anual gerada com o sistema">Benefício (R$/ano)</th>
                                                    <th data-bss-tooltip data-toggle="tooltip" data-original-title="Custo médio de implementação do sistema">Custo (R$)</th>
                                                    <th data-bss-tooltip data-toggle="tooltip" data-original-title="Razão entre o custo e o benefício anual Custo ÷ Benefício">Payback (Ano)</th>
                                                    <th data-bss-tooltip data-toggle="tooltip" data-original-title="Valor presente Líquido, calculado para 30 anos">VPL<br>(R$)</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tab__financeiro">
                                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <script src={% static 'assets/js/simulacao.js' %}>
        </script>
        <script>
            function create_labels(interval, amount) {
                const arr = Array(amount)
                for (let i = 0; i < amount; i++) {
                    arr[i] = (i + 1) * interval
                }  
                
                return arr
            }

            function calc_economia(cisterna) {
                let saldo_cisterna = 0
                let economia = 0
                let gasto_add = 0

                for (let i = 0; i < 12; i++) {
                    const demanda = demanda_mensal[i]
                    const oferta = oferta_mensal[i]
                    const resultado = oferta-demanda
                    if (resultado > 0) {
                        saldo_cisterna += resultado
                        if (saldo_cisterna > cisterna) {saldo_cisterna = cisterna} 
                    } else {
                        saldo_cisterna -= resultado
                        if (saldo_cisterna < 0) {saldo_cisterna = 0}
                    }
                }
                
                for (let i = 12; i < 24; i++) {
                    const demanda = demanda_mensal[i % 12]
                    const oferta = oferta_mensal[i % 12]
                    const resultado = oferta-demanda
                    if (resultado > 0) {
                        saldo_cisterna += resultado
                        economia += demanda
                        if (saldo_cisterna > cisterna) {saldo_cisterna = cisterna} 
                    } else {
                        economia += Math.min(saldo_cisterna + oferta_mensal[i % 12], demanda)
                        saldo_cisterna += resultado
                        if (saldo_cisterna < 0) {gasto_add += Math.abs(saldo_cisterna); saldo_cisterna = 0}
                    }
                }
                return {economia, gasto_add}
            }

            function create_values(interval) {
                const y_values = []
                const gastos = []
                mep_patch = false
                mep = 20*interval
                index_max = 19
                index_mep = 19
                for (let i = 1; i <= 20; i++) {
                    if (interval*i >= mep + 4*interval) {
                        index_max = i-1
                        break
                    }
                    const cisterna_eg = calc_economia(interval*i)
                    y_values.push(cisterna_eg.economia)
                    gastos.push(cisterna_eg.gasto_add)
                    if (i > 1 ) {
                        if (y_values[i-2] == y_values[i-1] && !mep_patch) {    
                            mep = interval*i
                            mep_patch = true
                            index_mep = i-2
                        }
                    }
                    
                }
                x_values = create_labels(interval, y_values.length)
                return {x_values, y_values, gastos}
            }

            function re_plot(id) {
                const index = id.replace(/[^0-9]/g, '')
                const checkbox = document.getElementById(id)
                const nome = document.getElementById(id.replace('check', 'nome')).value
                let indicador = document.getElementById(id.replace('check', 'indicador')).value
                
                indicador = parseFloat(indicador.replace(',', '.'))
                if (!checkbox.checked) indicador = -indicador

                if (nome == 'Irrigação de jardins') {
                    for (i of meses_estiagem) {
                        demanda_mensal[i] += indicador
                    }
                } else {
                    demanda_mensal = demanda_mensal.map(function(x) {return x + indicador})
                }
                
                calc_area_oferta()
                const new_simulados = create_values(intervalo_cisterna)

                removeData(SimulChart)
                addData(SimulChart, labels=new_simulados.x_values, data=new_simulados.y_values)
                fixMEP(SimulChart, index_mep)

                return new_simulados
            }

            function re_plot_cisterna() {
                intervalo_cisterna = document.getElementById('id_intervalos_de_cisterna').value
                const new_simulados = create_values(intervalo_cisterna)

                removeData(SimulChart)
                addData(SimulChart, labels=new_simulados.x_values, data=new_simulados.y_values)
                fixMEP(SimulChart, index_mep)

                create_table_financeiro(new_simulados.x_values, new_simulados.y_values, new_simulados.gastos, dolar)
            }

            function calc_area_oferta(coef_esc = 0.9, coef_filt = 0.9) {
                demanda_anual = Math.round((demanda_mensal.reduce(add, 0) + Number.EPSILON)*100)/100
                const area_ideal = Math.ceil(demanda_anual/(pluviometria_total * coef_esc * coef_filt) * 1000)
                area_coleta = Math.min(area_ideal, area_disponivel)
                oferta_mensal = pluviometria_mensal.map(function(pp) {return pp * area_coleta * coef_filt * coef_esc / 1000})
                oferta_anual = Math.round((oferta_mensal.reduce(add, 0) + Number.EPSILON)*100)/100
            }

            function get_equips(area_utilizada) {
                for (const [area, equip] of Object.entries(equipamentos)) {
                    if (area > area_utilizada) return equip
                }
            }

            function choose_caixa_dagua() {
                const demanda_estiagem = demanda_mensal[meses_estiagem[0]] * 1000 / 30
                for (capacidade of caixa_volumes) {
                    if (capacidade > demanda_estiagem) return capacidade
                }
            }

            function create_table() {
                /*Tabela 1*/
                document.getElementById('oferta__total').innerHTML = `${oferta_anual} m³/ano`
                document.getElementById('demanda__total').innerHTML = `${demanda_anual} m³/ano`
                document.getElementById('area__coleta').innerHTML = `${area_coleta} m²`


                /*Tabela 2*/
                equipamentos_adequados = get_equips(area_coleta)
                document.getElementById('freio__dagua').innerHTML = `${equipamentos_adequados.freio} mm`
                document.getElementById('sifao__ladrao').innerHTML = `${equipamentos_adequados.sifao} mm`
                document.getElementById('filtro__dagua').innerHTML = `${equipamentos_adequados.filtro} m² de cobertura`
                
                reservatorio = choose_caixa_dagua()
                document.getElementById('reservatorio__volume').innerHTML = `${reservatorio} L`
                    
            }

            /*Tabela 3*/
            function create_table_financeiro(volumes, economia, gastos, dolar, juros = 3/100) {
                const preco_cisterna_por_m3 = 324.95
                const custo_op = document.getElementById('custo__operacional').innerHTML.replace('.', '').replace(',', '.')

                const preco_geral = bomba_preco + caixa_financeiro[reservatorio] + equipamentos_adequados['custo']
                let custo = volumes.map(function(vol) {return (preco_geral + vol * preco_cisterna_por_m3) * dolar})
                
                
                let beneficio = economia.map(function(x){return x*tarifa})
                const gasto_adicional = gastos.map(function(x){return x*tarifa})


                const beneficio_true = beneficio.map(function(eco, index) {
                    return eco - gasto_adicional[index] - parseFloat(custo_op)})


                const payback = custo.map(function(preco, index) {
                    return Math.ceil(preco/beneficio_true[index])
                })

                
                let VPL = Array(beneficio_true.length)
                for (let j=0; j < beneficio_true.length; j++) {
                    const VPL_parcelas = Array(30)
                    const econ = beneficio_true[j]
                    for (let i=1; i <= 30; i++) {
                        VPL_parcelas[i-1] = econ / (1+juros)**i
                    }
                    VPL[j] = VPL_parcelas.reduce(add, 0) - custo[j]
                }
                

                beneficio = beneficio.map(function(x) {return Math.round((x + Number.EPSILON)*100)/100})
                beneficio = beneficio.map(parseReal)
                custo = custo.map(function(x) {return Math.round((x + Number.EPSILON)*100)/100})
                custo = custo.map(parseReal)
                VPL = VPL.map(function(x) {return Math.round((x + Number.EPSILON)*100)/100})
                VPL = VPL.map(parseReal)
                const tab_financeiro = document.getElementById("tab__financeiro")
                while (tab_financeiro.firstChild) {
                    tab_financeiro.removeChild(tab_financeiro.lastChild)
                }
                for (let i=0; i < custo.length; i++) {
                    let row = tab_financeiro.appendChild(document.createElement('tr'))
                    row.appendChild(document.createElement('td')).innerHTML = volumes[i]
                    row.appendChild(document.createElement('td')).innerHTML = beneficio[i]
                    row.appendChild(document.createElement('td')).innerHTML = custo[i]
                    row.appendChild(document.createElement('td')).innerHTML = payback[i]
                    const VPL_td = row.appendChild(document.createElement('td'))
                    VPL_td.innerHTML = VPL[i]
                    if (VPL[i].includes("-")) {VPL_td.setAttribute("style", "color:red")}
                    else {VPL_td.setAttribute("style", "color:black")}

                }
                
            }

            function updateUI(id) {
                const new_simul = re_plot(id)
                create_table()
                create_table_financeiro(new_simul.x_values, new_simul.y_values, new_simul.gastos, dolar)
            }

            function address(parent_id, child_tag, id_names, type) {
                let parent = document.getElementById(parent_id)
                let child = parent.getElementsByTagName(child_tag)
            
                
                const nomes = []
                const indicadores = []
                const n = child.length/3
                for (let i = 0; i < n*3; i++){
                    child[i].setAttribute('id', 'id_' + type + "-" + Math.floor(i / 3) + "-" + id_names[(i%3)])
                    child[i].setAttribute('name', type + "-" + Math.floor(i / 3) + "-" + id_names[(i%3)])
                    
                    if (id_names[(i%3)] == 'indicador') {
                        indicadores.push( parseFloat(child[i].value.replace(',', '.')))
                    } else if (id_names[(i%3)] == 'nome') {
                        nomes.push(child[i].value)
                    } else if(id_names[(i%3)] == 'check') {
                        child[i].addEventListener('click', function () {updateUI(child[i].id);}, false)
                    }
                }
            }

            
            const dolar = {{ dolar|stringformat:'.2f' }}
            const bomba_preco = {{ bomba.preco|stringformat:'.2f' }}
            const main_ids = ['check', 'nome', 'indicador']
            const data_demanda = address(parent_id="demanda-items", child_tag="input", id_names=main_ids, type="demanda")
            
            const equipamentos = {{ equipamentos|safe }}
            const caixa_volumes = {{ caixa.volumes }}
            const caixa_financeiro = {{ caixa.financeiro }}
        

            const area_disponivel = {{ area_disponivel }}[0]
            const pluviometria_mensal = {{ pluviometria_mensal }}
            const pluviometria_total = {{ pluviometria_total }}
            let area_coleta = {{ area_coleta }}
            let demanda_mensal = {{ demanda_mensal }}
            let demanda_anual = {{ geral_demanda }}[0]
            let oferta_mensal = {{ oferta_mensal }}
            let oferta_anual = {{ oferta_total }}[0]
            const meses_estiagem = {{ meses_estiagem }}
            
            let mep_patch = false
            let mep = 200
            let index_max = 19
            let index_mep = 19
            let intervalo_cisterna = 10
            const simulados = create_values(intervalo_cisterna)

            
            const plot_options = { 
                elements: {
                    line: {
                        tension: 0 // disables bezier curves
                    }
                },
                plugins: {
                    autocolors: false,
                    annotation: {
                        annotations: [
                            {   
                                xMin: index_max-5,
                                xMax: index_max-5,   
                                type: "line",
                                mode: "vertical",
                                scaleID: "x-axis-0",
                                
                                borderColor: "black",
                                label: {
                                    content: "*MEP",
                                    enabled: true,
                                    position: "top"
                                }
                            }
                        ]
                    },
                    title: {
                        display: true,
                        text: 'Economia anual por volume de cisterna'
                    }
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Volumes de cisterna (m³)'
                        } 
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Economia de agua potável (m³/ano)'
                        }
                    }
                }
            }
            
            const config = {
                type: 'line',
                data: {
                    labels: simulados.x_values,
                    datasets: [{
                        label: 'Economia de Água m³/ano',
                        data: simulados.y_values,
                        fill: false,
                        backgroundColor: 'rgb(65,125,178)',
                        borderColor: 'rgb(65,125,178)',
                        borderWidth: 2
                    }],
                },
                options: plot_options   
            }

            const canvas = document.getElementById('SimulChart')
            const ctx = canvas.getContext('2d')
            const SimulChart = new Chart(ctx, config)
            
            const tarifa = {{ tarifa|stringformat:".2f" }}
            

            cist_interv_btn = document.getElementById('change_interval')
            cist_interv_btn.addEventListener('click', function () { re_plot_cisterna() })


            const custo_operacional = {{ bomba.custo_op|stringformat:".2f" }}
            document.getElementById('custo__operacional').innerHTML = `${parseReal(custo_operacional)} R$/ano`

            var reservatorio = 0
            var equipamentos_adequados = {}
            create_table()
            create_table_financeiro(simulados.x_values, simulados.y_values, simulados.gastos, dolar)

            


        </script>


{% endblock content %}