{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <section class="clean-block features" style="border-top-style: solid;padding: 0;background: rgb(207,231,248);">
        <div class="container flex-calc" style="background: #eeeeee;padding-bottom: 100px;">
            <div class="block-heading" style="padding: 40px 0px 0px;">
                <h2 class="text-info" style="font-weight: 800;">Reúso de Água Cinza</h2>
            </div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'core:home' %}"><span>Home</span></a></li>
                <li class="breadcrumb-item"><a href="{% url 'simulacao:edificacao' %}"><span>Características gerais</span></a></li>
                <li class="breadcrumb-item"><a href="{% url 'simulacao:seleciona_simulacao' pk %}"><span>Selecionar simulação</span></a></li>
                <li class="breadcrumb-item"><a href="#"><span>Simulação RAC</span></a></li>
            </ol>
            <div class="row align-content-center" style="border: 1px none rgb(33,37,41);background: #eeeeee;margin-left: 0;margin-right: 0;"> 
                <div class="col-md-6">
                    <h4 style="font-weight: bold;">Oferta de Água Cinza</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th data-checkbox="true">
                            </tr>
                        </thead>
                        <tbody id="oferta-items">
                        {% for i in individual_o.items %}
                            <tr>
                                <td><input type="checkbox" checked style="margin: 0px;transform: scale(0.8)" class="form-check-input"></td>
                                <td><input type='text' value="{{i.0}}" class="form-control" readonly="" style="font-weight: bold;" ></td>
                                <td>
                                    <div class="input-group">
                                    
                                        <input type='text' value="{{i.1}}" class="form-control" readonly="">
                                        <div class="input-group-append">
                                            <span class="input-group-text">m³/mês</span>
                                        </div>
                                    
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        <tbody>
                    </table>
                </div>
                <div class="col-md-6">
                <h4 style="font-weight: bold;">Demanda de Água Cinza</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th data-checkbox="true">
                            </tr>
                        </thead>
                        <tbody id="demanda-items">
                        {% for i in individual_d.items %}
                            <tr>
                                <td><input type="checkbox" checked style="margin: 0px;transform: scale(0.8)" class="form-check-input"></td>
                                <td><input type='text' value="{{i.0}}" class="form-control" readonly="" style="font-weight: bold;" ></td>
                                <td>
                                    <div class="input-group">
                                    
                                        <input type='text' value="{{i.1}}" class="form-control" readonly="">
                                        <div class="input-group-append">
                                            <span class="input-group-text">m³/mês</span>
                                        </div>
                                    
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        <tbody>
                    </table>
                </div>
            </div>
            <div class="row align-content-center" style="border: 1px none rgb(33,37,41);background: #eeeeee;margin-left: 0;margin-right: 0;">
                <div class="col-md-6" id="ChartDiv">
                    <canvas id="SimulChart" width="400" height="400"></canvas>
                </div>
                <div class="col-md-6">
                    <h4 style="font-weight: bold;">Análise financeira</h4>
                    <div class="input-group d-md-flex" style="margin-bottom: 0.8em;">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="font-weight: bold;">Taxa de Juros</span>
                        </div> 
                        <input type="number" value="3" min="0" required id="juros" class="form-control">
                        <div class="input-group-append">
                            <span class="text-break input-group-text" style="font-weight: bold;">
                                %
                            </span>
                            <button type="button" class="btn btn-primary" id="juros-btn">Calcular</button>
                        </div><small class="form-text text-muted">Taxa de juros utilizada na simulação financeira.</small>
                    </div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-3">Geral</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-4">Dimensionamento</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-5">Financeiro</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="tab-3" style="background: #ffffff;">
                                <ul class="list-group text-capitalize" style="background: var(--secondary);">
                                    <li class="list-group-item" style="color: var(dark);background: #e1e1e1;border-style: solid;"><span style="color: var(--dark);background: #e1e1e1;font-weight: 600;" class="normal">Oferta: </span><span class="text-lowercase" id="oferta_geral"> m³/ano</span></li>
                                    <li class="list-group-item" style="background: #e1e1e1;"><span style="color: var(--dark);background: #e1e1e1;font-weight: 600;" class="normal">Demanda: </span><span class="text-lowercase" id="demanda_geral"> m³/ano</span><br></li>
                                    <li class="list-group-item" style="background: #e1e1e1;"><span style="color: var(--dark);font-weight: 600;background: #e1e1e1;border-color: var(--dark);">Custo Operacional: </span> <span class="normal" id="custo_operacional"></span> </li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-4">
                                <ul class="list-group text-capitalize" style="background: #e1e1e1;">
                                    <li class="list-group-item" style="background: #e1e1e1;color: var(--dark);"><span style="background: #e1e1e1;color: var(--dark);font-weight: 600;">Mangueira Flutuante (Sucção): </span><span class="text-lowercase"> {{ bomba.Dimensoes.succao }} mm</span></li>
                                    <li class="list-group-item" style="background: #e1e1e1;color: var(--dark);"><span style="background: #e1e1e1;color: var(--dark);font-weight: 600;">Recalque: </span><span class="text-lowercase"> {{ bomba.Dimensoes.recalque }} mm</span></li>
                                    <li class="list-group-item" style="background: #e1e1e1;color: var(--dark);"><span style="background: #e1e1e1;color: var(--dark);font-weight: 600;">Potência da Bomba D'Água: </span><span class="text-lowercase"> {{ bomba.Dimensoes.potencia }} cv</span></li>
                                    <li class="list-group-item" style="background: #e1e1e1;color: var(--dark);"><span style="background: #e1e1e1;color: var(--dark);font-weight: 600;" class="normal">Reservatório de Distribuição: </span><span class="normal" id="Caixa_volume" > </span> </li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-5">
                                <ul class="list-group text-capitalize" style="background: #e1e1e1;">
                                    <li class="list-group-item" style="background: #e1e1e1;color: var(--dark);"><span style="background: #e1e1e1;color: var(--dark);font-weight: 600;" class="normal">Capacidade de Tratamento (L): </span><span class="text-lowercase" id="Capacidade"> </span></li>
                                    <li class="list-group-item" style="background: #e1e1e1;color: var(--dark);"><span style="background: #e1e1e1;color: var(--dark);font-weight: 600;" data-bss-tooltip data-toggle="tooltip" data-original-title="Custo médio de implementação do sistema">Custo (R$): </span><span class="text-lowercase" id="Custo_cap"> </span></li>
                                    <li class="list-group-item" style="background: #e1e1e1;color: var(--dark);"><span style="background: #e1e1e1;color: var(--dark);font-weight: 600;" data-bss-tooltip data-toggle="tooltip" data-original-title="Valor da economia anual gerada com o sistema">Benefício (R$/ano): </span><span class="text-lowercase" id="Beneficio"> </span></li>
                                    <li class="list-group-item" style="background: #e1e1e1;color: var(--dark);"><span style="background: #e1e1e1;color: var(--dark);font-weight: 600;" data-bss-tooltip data-toggle="tooltip" data-original-title="Tempo de retorno do investimento">Payback (anos): </span><span class="text-uppercase" id="Payback"> </span></li>
                                    <li class="list-group-item" style="background: #e1e1e1;color: var(--dark);"><span style="background: #e1e1e1;color: var(--dark);font-weight: 600;" data-bss-tooltip data-toggle="tooltip" data-original-title="Valor presente Líquido, calculado para 30 anos">VPL (R$): </span><span id="VPL"> </span></li>
                                </ul>
                            </div>
                        </div>
                </div> 
            </div>
            <div class="d-md-flex justify-content-md-center align-items-md-center" style="padding: 1em;">
                <a class="btn btn-info vanish" role="button" href="{% url 'simulacao:simulacao-aap' pk %}" style="margin: 1em;">Verificar AAC</a>
            </div>
        </div>
    </section>
{% endblock content%}
{% block scripts %}
    <script src={% static 'assets/js/simulacao.js' %}>
    </script>
    <script src={% static 'assets/js/simulacaoRAC.js' %}>
    </script>
    <script>
        const volumes_cap = {{ tratamento.Volumes }}
        const financeiro_cap = {{ tratamento.Financeiro }}
        
        const custo_op_bomba = {{ bomba.Custo_op|stringformat:".2f" }}
        const custo_bomba = {{ bomba.Custo|stringformat:".2f" }}

        const volumes_caixa = {{ caixa.Volumes }}
        const financeiro_caixa = {{ caixa.Financeiro }}
        
        const tarifa = {{ tarifa|stringformat:".2f" }}

    </script>
    <script>
        const main_ids = ['check', 'nome', 'indicador']
        const data_oferta = address(parent_id="oferta-items", child_tag="input", id_names=main_ids, type="oferta")
        const data_demanda = address(parent_id="demanda-items", child_tag="input", id_names=main_ids, type="demanda")

        const oferta_total = data_oferta.indicadores.reduce(add, 0)*12
        const demanda_total = soma_dem(data_demanda.indicadores, data_demanda.nomes)

        const economia = data_adjust(oferta_total, data_demanda.indicadores, data_demanda.nomes)
        
        /*Demanda possivel de ser atendida dada a oferta*/
        const demanda_possivel = Math.min(demanda_total, oferta_total)
        

        const plot_options = { 
            plugins: {
                autocolors: false,
                title: {
                    display: true,
                    text: 'Economia anual por demanda'
                }
            },
            scales: {
                x: {
                    ticks: {},
                    title: {
                        display: true,
                        text: 'Demanda de Água Cinza'
                    } 
                },
                y: {
                    title: {
                        display: true,
                        text: 'Economia de Água Potável (m³/ano)'
                    }
                },
            }
        }
        
        const config = {
            type: 'bar',
            data: {
                labels: data_demanda.nomes.slice(),
                datasets: [{
                    label: 'Economia de Água Potável (m³/ano)',
                    data: economia,
                    backgroundColor: 'rgba(54, 162, 235, 1)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }],
            },
            options: plot_options   
        }

        const canvas = document.getElementById('SimulChart')
        const ctx = canvas.getContext('2d')
        const SimulChart = new Chart(ctx, config)
        

        create_tabs(demanda_possivel * 1000 / 30, demanda_total, oferta_total, tarifa)
        const juros_btn = document.getElementById("juros-btn")
        juros_btn.addEventListener('click', function () {create_tabs(demanda_possivel * 1000 / 30, demanda_total, demanda_total, tarifa)}, false)
        console.log(volumes_caixa)
    </script>

{% endblock %}