{% extends 'base.html' %} {% block content %}
<style>
    body {
        background-color: #f6f6f6;
    }
</style>
<section class="clean-block clean-form dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Sobre</h2>
        </div>
        <div>
            <div class="card">
                <div class="card-body">
                    <p class="card-text">
                        <span style="font-size:22px"><label style="font-weight: bold">Aquae Versão 1.0</label></span>
                    </p>
                    <p class="card-text">
                        <label style="font-weight: bold">Criação</label>  <br />Prof. Daniel Sant'Ana,<span style="font-size:13.5px"> <em>PhD.</em></span>
                        <br />dsantana@unb.br
                    <p class="card-text"><label style="font-weight: bold">Programação</label><br />
                        Samuel Bacelar (Bolsista PIBITI/CNPq)<br />
                        José Vítor Porfírio (Bolsista PIBITI/CNPq)<br />
                        João Vítor Dickmann (Bolsista PIBITI/FAPDF)</p>
                    <p class="card-text">
                        <a href="http://www.aac.unb.br/index.php/pt-br/"
                            >Grupo de Pesquisa Água & Ambiente Construído</a
                        ><br />Universidade de Brasília - UnB<br />
                    </p>
                    <p class="card-text"> 
                        <span style="font-size:14px">Sant’Ana, D.; Bacelar, S.; Porfírio, J. V.; Dickmann, J. V. aquae. Versão 1.0 [s.l.], 22 de março de 2023.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
