{% extends 'base.html' %}

{% block content %}
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Sobre</h2>
                </div>
                <div>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">versão 1.0</p>
                            <p class="card-text">Idealizado por: Daniel Richard Sant'Ana<br>Desenvolvido por: Samuel Nogueira Bacelar&nbsp;<br></p>
                            <p class="card-text">Ano de criação: 2021</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}