{% extends 'base.html' %} {% block content %}
<style>
    body {
        background-color: #f6f6f6;
    }
</style>
<section class="clean-block clean-form dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Sobre</h2>
        </div>
        <div>
            <div class="card">
                <div class="card-body">
                    <p class="card-text">
                        O programa Aquae foi desenvolvido por:
                    </p>
                    <p class="card-text">
                        Daniel Sant'Ana, <em>PhD.</em> <br />Samuel Bacelar
                        <em>Eng.</em><br />José Vítor Porfírio <em>Est.</em
                        ><br />João Vítor Dickmann <em>CiC.</em>
                    </p>
                    <p class="card-text">Versão 1.0</p>
                    <p class="card-text">
                        <a href="http://www.aac.unb.br/index.php/pt-br/"
                            >Grupo de Pesquisa Água & Ambiente Construído</a
                        ><br />Universidade de Brasília - UnB<br />Brasília DF -
                        Copyright 2021
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
