<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Aquae</title>
    <link rel="shortcut icon" href="{% static 'assets/img/drop.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="{% static 'assets/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/smoothproducts.css' %}">
</head>

<body>

    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="{% url 'core:home' %}">aquae</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'core:home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%  url 'simulacao:edificacao' %}">Simulador</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'core:how_to' %}">Tutorial</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'core:about' %}">Sobre</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page landing-page">
        {% block content %} {% endblock %}
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>© 2021 Copyright AAC</p>
        </div>
    </footer>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/chart.min.js' %}"></script>
    <script src="https://cdn.tutorialjinni.com/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.js"></script>
    <script src="{% static 'assets/js/bs-init.js '%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'assets/js/smoothproducts.min.js'%}"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>

</html>