{% extends 'base.html' %}

{% load static %}

{% block content %}
        <section class="clean-block clean-hero" style="color: rgba(9,162,255,0.14);">
            <div class="text" style="color: black">
                <h1 style="font-weight: bold;">aquae</h1>
                <p>Este é um simulador que verifica o potencial de economia de água utilizando dois métodos: o reúso de águas cinzas (disponível em breve) e aproveitamento de águas pluviais baseado em dados da edificação e do consumo de água mensal. É possível extrair informações sobre o dimensionamento do sistema a ser implantado, dados de demanda, além da análise financeira de viabilidade de aplicação. <br> O simulador é indicado para residentes ou profissionais que busquem um disgnóstico rápido e simplificado do potencial econômico da implantação destes sistemas.
</p><a href="{% url 'simulacao:edificacao' %}"><button style="color: black" class="btn btn-outline-dark btn-lg" type="button">Comece a usar</button></a>
            </div>
        </section>
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Funcionalidades</h2>
                    <h4>O simulador de águas pluviais.</h4>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box"><i class="icon-chart icon"></i>
                        <h4>Dimensionamento dinâmico de cisterna</h4>
                        <p>Gráfico de cisterna relacionando o potencial de economia de água com o tamanho da cisterna.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="iconify icon" data-icon="bx:bx-dollar"></i>
                        <h4>Análise de viabilidade financeira</h4>
                        <p>Relação entre o custo de aplicação do sistema e o retorno monetário para cada volume de cisterna.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="iconify icon" data-icon="ant-design:control-outlined"></i>
                        <h4>Resultados de simulação interativos</h4>
                        <p>Reajuste de intervalo do gráfico, seleção de demandas para aplicação do sistema de economia de água e controle da taxa de juros aplicada.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="iconify icon" data-icon="ic:outline-water-damage"></i>
                        <h4>Dimensionamento do sistema</h4>
                        <p>Pré-dimensionamento dos componentes necessários à aplicação do sistema (bomba, reservatórios, tubos etc.).</p>
                    </div>
                </div>
            </div>
        <div class="container">
                <div class="block-heading">
                    <h4>Simulador de reúso de águas cinzas disponível em breve</h4>
                </div>

            </div>
        </section>
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Como utilizar</h2>
                </div>
                <p>Para começar a fazer simulações no aquae basta acessar a área de simulação como mostrado na figura abaixo.</p>
                <br>
                <img class="img-fluid" src="../static/assets/img/tutorial/aquae%20simulador.png">
                <br><br>
                <p>Na área da simulação primeiramente selecione o tipo de edificação da sua residência. Logo após isso preencha os campos de acordo com o que eles pedem. </p>
                <br>
                <img class="img-fluid" src="../static/assets/img/tutorial/caracteristicas%20gerais.png">
                <br><br>
                <p>Após ter preenchido os campos solicitados preencha os campos de demandas de água não potáveis, contendo a frequência mensal de uso e o total do uso como indicado no texto ao lado do campo relacionado ao indicador de uso final. </p>
                <br>
                <img class="img-fluid" src="../static/assets/img/tutorial/Demandas%20de%20água%20não%20potável.png">
                <br><br>
                <p>Caso haja algum campo de demanda de água que sua residência não utiliza, sinta-se livre para excluí-lo.</p>
                <br>
                <img class="img-fluid" src="../static/assets/img/tutorial/Demandas%20de%20água%20não%20potável%20deletar.png">
                <br><br>
                <p> Você também pode adicionar outros tipos de uso de água não potável que não estão listados. Ao fazer isso adicione : o nome do consumo; frequência mensal e a média de litros por dia.</p>
                <br>
                <img class="img-fluid" src="../static/assets/img/tutorial/adicionar%20tipo%20customizado.png">
                <br><br>
                <p>Ao clicar em próximo você será enviado para a página de seleção de simulação podendo escolher entre a Simulação de Aproveitamento de águas pluviais ou de Reúso de Águas Cinzas.</p>
                <br>
                <img class="img-fluid" src="../static/assets/img/tutorial/Selecionar%20tipo%20de%20simulação.png">
                <br><br>
                <p>Ao selecionar AAP sua simulação estará pronta em uma nova página como a seguinte. Nela é possível ver duas colunas principais. A primeira coluna permite que você possa alterar pequenos detalhes da simulação como o intervalo de cisternas; taxa de juros e quais demandas de água usar na simulação.
                <br>
                <p>Na segunda coluna é possível visualizar um gráfico relacionando o potencial de economia de água com os possíveis volumes de cisternas. Observe que quanto maior o volume da cisterna, maior é a economia, entretanto essa economia acaba por estagnar a medida que o volume for subindo. Abaixo do gráfico há três abas, Geral, Dimensionamento e Financeiro** que respectivamente mostram: Informações gerais relacionadas a simulação; Dimensionamento de algumas Características do sistema e análise financeira da simulação com base nos volumes de cisterna.</p>
                <img class="img-fluid" src="../static/assets/img/tutorial/SimulaçãoAAP.png">
                


            </div>
        </section>
{% endblock content %}