{% extends 'base.html' %} {% load static %} {% block content %}
<section
    class="clean-block clean-hero flex-calc"
    style="color: rgba(9, 162, 255, 0.14)"
>
    <div class="text" style="color: black">
        <h1>
            <b><i>aquae</i></b>
        </h1>
        <p>
            O <i>aquae</i> é um simulador capaz de estimar as economias geradas
            pelo aproveitamento de água de chuva e reúso de água cinza em casas
            e prédios de apartamentos do Distrito Federal. Ao inserir dados da
            edificação e do consumo de água, é possível extrair informações
            referentes ao dimensionamento do sistema predial, do potencial de
            redução do consumo de água potável, dos custos e benefícios
            financeiros envolvidos em sua instalação. O simulador é indicado
            para moradores ou profissionais que buscam um pré-dimensionamento do
            sistema hidráulico e de um diagnóstico rápido e simplificado da
            viabilidade da instalação de sistemas de aproveitamento de água de
            chuva e de sistemas de reúso de água cinza*.
            <br />
            
        </p>
        <a href="{% url 'simulacao:edificacao' %}">
            <button
                style="color: black"
                class="btn btn-outline-dark btn-lg"
                type="button"
            >
                Comece a usar
            </button>
        </a>
        <p>
            <br/>
            <sub>
                
                *Resultados das simulações e de dimensionamento dos sistemas
                    prediais servem de base para tomada de decisão e não dispensam
                    contratação de profissional habilitado.</sub></p>
        
    </div>
</section>
<section class="clean-block features">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Funcionalidades</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 feature-box">
                <i class="iconify icon" data-icon="ic:outline-water-damage"></i>
                <h4>Dimensionamento do sistema</h4>
                <p>
                    Pré-dimensionamento dos componentes necessários à aplicação
                    do sistema (bomba, reservatórios, tubos etc.).
                </p>
            </div>
            <div class="col-md-5 feature-box">
                <i class="icon-chart icon"></i>
                <h4>
                    Simulação do potencial de redução do consumo de água pluvial
                </h4>
                <p>
                    Gráfico de cisterna relacionando o potencial de economia de
                    água com o tamanho da cisterna.
                </p>
            </div>
            <div class="col-md-5 feature-box">
                <i
                    class="iconify icon"
                    data-icon="ant-design:control-outlined"
                ></i>
                <h4>Resultados interativos de simulação</h4>
                <p>
                    Reajuste de intervalo do gráfico, seleção de demandas para
                    aplicação do sistema de economia de água e controle da taxa
                    de juros aplicada.
                </p>
            </div>
            <div class="col-md-5 feature-box">
                <i class="iconify icon" data-icon="bx:bx-dollar"></i>
                <h4>Análise de viabilidade financeira</h4>
                <p>
                    Relação entre o custo de aplicação do sistema e o retorno
                    monetário para cada volume de cisterna.
                </p>
            </div>
        </div>

        <div class="block-heading"></div>
        <div class="row justify-content-center">
            <div class="col-md-5 feature-box">
                <i class="icon-chart icon"></i>
                <h4>Dimensionamento dinâmico de capacidade de tratamento</h4>
                <p>
                    Gráfico de possível economia de água em m³/ano para cada
                    demanda e tableas detalhadas sobre o sistema.
                </p>
            </div>
            <div class="col-md-5 feature-box">
                <i class="iconify icon" data-icon="bx:bx-dollar"></i>
                <h4>Análise de viabilidade financeira</h4>
                <p>
                    Relação entre o custo de aplicação do sistema e o retorno
                    monetário para cada volume de capacidade de tratamento.
                </p>
            </div>
            <div class="col-md-5 feature-box">
                <i
                    class="iconify icon"
                    data-icon="ant-design:control-outlined"
                ></i>
                <h4>Resultados interativos de simulação</h4>
                <p>
                    Reajuste da possível economia, seleção de demandas e ofertas
                    para aplicação do sistema de economia de água e controle da
                    taxa de juros aplicada.
                </p>
            </div>
            <div class="col-md-5 feature-box">
                <i class="iconify icon" data-icon="ic:outline-water-damage"></i>
                <h4>Dimensionamento do sistema</h4>
                <p>
                    Pré-dimensionamento dos componentes necessários à aplicação
                    do sistema (bomba, reservatórios, tubos etc.).
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
